[2016-12-16 09:07] stil4m opened #4 "Support for other repository management tools"
Are there ideas/plans to support other repository management tools such as:

* Bitbucket
* Bitbucket Server
* GitLab
* ...

I am willing to implement this, but how would this reflect on the current functionality?

[2016-12-16 09:30] gdotdesign commented on #4
Hey, thanks for bringing this up.

There are a few things that needs to be resolved if we want to support other git based services:
* Compatibility with `elm-pakage`: right now `elm-github-install` can be used as a direct replacement on packages that doesn't use Github packages and I'd like to keep it that way (defaulting to github)
* Distinguish between services
* How packages are downloaded ( ri

[2016-12-18 20:04] vankeisb commented on #4
Hello !

Cool tool you've written, thank you for sharing.

I also needed to use alternate "repositories", for obvious corporate reasons. I have hacked your script a little bit to make this work...

It uses an (optional) "semicolon" syntax in order to use git+ssh instead of the actual https connection, and provide a different host name :

[code]

In this example, the dependency is fetched from the

[2016-12-18 20:09] vankeisb commented on #4
I'm preparing a PR...

[2016-12-23 13:40] gdotdesign commented on #4
Hi folks,

I've been working on this in the last two days, and I've come up with a new version.

I'm more comfortable with Ruby and it's ecosystem then NodeJS and it's ecosystem, and because of that I've recreated this from scratch in Ruby.

This new version works a little differently but has a lot more features and functionality:
* It's no longer Github dependent:
  * it works with any Git reposi

[2016-12-23 16:47] vankeisb commented on #4
Looks great ! I will definitely try it out.
Could it handle snapshots (grab HEAD of a given branch) ? This way we would not need a tag ? Would be useful when depending on your own modules.

[2016-12-23 17:13] gdotdesign commented on #4
Yes it can `ref:master`, `ref:development` or `ref:commit_hash` instead of the version works, but it needs an valid `elm-package.json` at that ref.

[2016-12-24 09:11] stil4m commented on #4
Great work!

[2016-12-24 13:28] stil4m commented on #4
I'm testing this out, but when I run elm-make I get errors such as:

[code]

Would it be an idea to change the setup of the `elm-package.json` to a format like:

[code]

This might make it less likely that the package format will conflict with the default elm tooling.

[2016-12-26 15:44] gdotdesign commented on #4
Yes, you were right, I didn't test it properly.

I've managed to make it work at last :smile: I also tested it with a Bitbutcket repository along with using the **master branch** from **elm-lang/core**.

This version uses the `dependency-sources` field in the `elm-package.json`. It can either be an URL or a hash with `url` and `ref`.

I've tested it with this `elm-package.json`:
[code]

Running `e

[2016-12-26 18:27] stil4m commented on #4
Cool. Nice work. I'll give it a try tomorrow

[2016-12-27 10:35] gdotdesign commented on #4
#7 This is the PR for this.

[2016-12-27 11:40] stil4m commented on #4
I've just started testing. We're getting there, but I've found another bug in the script. In the company I work we host a private bitbucket. Two sample urls for a repo would be:

[code]

With the newest version (0.1.3) I get the following error:

[code]

My config is:

[code]

I believe the script current version assumes everything after the colon will be the project name. Which is the case for Gi

[2016-12-27 13:53] gdotdesign commented on #4
Thanks for trying it out, it really helps that it's tested in a live environment!

1. The port is really a bug in the gem I choose to parse git URLs, it doesn't seem to recognize them, so I'll probably have to write that from scratch too (it's not a very complicated thing).

2. The tilde doesn't effect the default Elm tooling: I updated the directories and files by hand after an installation and e

[2016-12-27 15:18] gdotdesign commented on #4
Do you happen to know a public git host which I can test the ports with?

I've tried it with Github but didn't seem to make it work:
[code]

[2016-12-27 16:46] stil4m commented on #4
I do not know one from the top of my head, besides my companies private bitbucket :(. In addition I know that code base uses a three part path:

[code]

[2016-12-27 17:29] villasv opened #8 "Failed to resolve versions using on Windows"
Running `elm-github-install` in my Elm project with only `core` and `html` as dependencies, I get this:

[code]

[2016-12-28 07:39] gdotdesign commented on #4
OK so I did a little digging about which protocols / URLs can be used in git: https://www.kernel.org/pub/software/scm/git/docs/git-clone.html (GIT URLS section).

As it turns out the SCP url does not support ports so this is invalid `git@github.com:22/elm-lang/core.git` but SCP is just a shorthand for the **ssh://** URL, which is supported in v0.1.3.

I've tried it with `ssh://git@github.com:22/gd

[2016-12-28 09:36] stil4m commented on #4
That makes sense. I got it to work 👍 . One addition, which may be something for a FAQ: My ssh url was suffixed with `.git`. I got that directly from the Git host. I had to remove this to make it work (`<x>.git ==> <x>`) .

[2016-12-28 09:41] stil4m commented on #4
I've found one more thing. May be something for a FAQ too, or a change in the implementation. If you have no SSH registered at GitHub, you cant clone repositories via `git@github.com:<x>/<y>`. Instead, you are able to clone `https://github.com/<x>/<y>.git`. Would it make more sense to use the `HTTPS` protocol for the default packages? Otherwise, I think this should be documented properly (I can do

[2016-12-28 09:56] gdotdesign commented on #4
Thanks, I'm glad it's working now.

Both your points are valid, I'll change the default to use `https` not everyhone has SSH access.

[2017-01-09 07:30] gdotdesign commented on #4
I'll released the ruby version as 0.3.0: https://github.com/gdotdesign/elm-github-install/releases/tag/v0.3.0

* The npm package is still there, I've managed to install the standalone versions though npm install scripts
* `.git` ending is now supported
* Changed the Github default to `https`

[2017-01-09 07:31] #4 closed, assigned to nobody

[2017-01-09 08:58] gdotdesign commented on #8
I've released a new version which is a rewrite, can you try it with that?

[2017-01-09 11:26] villasv commented on #8
Yep, seems to be working now. Tested with the `elm-architecture-tutorial` plus `simonh1000/file-reader`.

[2017-01-09 12:29] gdotdesign commented on #8
Great :+1: thanks, then I'll close this issue now.

[2017-01-09 12:29] #8 closed, assigned to nobody

[2017-01-14 14:41] martinos opened #9 "gem elm-install does not work"
I have rubygems installed on my computer and when I tried to install `elm-install`, it didn't work. I got the following error message.

[code]

I looked at the Gemspec I and have found that the gem name is `elm_install` maybe you could correct the command name in the README.md file.

[2017-01-24 16:11] gdotdesign commented on #9
Closing this since merged the PR.

[2017-01-24 16:11] #9 closed, assigned to nobody

[2017-01-31 15:43] victornswd opened #12 "Install from private git repo prompts for password, doesn't use SSH key"
I'm trying to install a package from a private repo and elm-install prompts for a password even though I have a working SSH key set up with the server. Cloning the repo manually using the same URL works without any issues.

[2017-01-31 15:54] gdotdesign commented on #12
Can you show me how did you set up the URL for the repository? I suspect if using the **https** version it prompts for password.

[2017-01-31 16:05] victornswd commented on #12
This is how I have the `dependency-souces` set up:
[code]

[2017-01-31 16:22] gdotdesign commented on #12
Can you provide some more information please?
* which OS / architecture you are using?
* what is the output look like?
* is the installation successful after providing the password?

I've only tested installation of private repositories on Linux (Ubuntu 16.04 and 14.04) which were successful.

Thanks

[2017-01-31 17:57] victornswd commented on #12
I'm trying to connect from an Ubuntu to a [gitolite](http://gitolite.com/gitolite/index.html) installation on an Ubuntu machine. On further inspection, this might be a problem caused by gitolite, seeing how gitolite uses it's own custom shell. I still can't install the repo after providing a password.

I will test things out further tomorrow, with a local gitolite.

[2017-02-02 05:34] Chadtech opened #13 "EACCES: permission denied, mkdir '/Users/Chadtech/.elm-install/elm-install-0.3.1-osx'"
Hi,

I am having some difficulty installing this. with the command `sudo npm install elm-github-install -g`, I get an access error. Npm tells me the install fails on scripts/install.js. I am on a mac.

[2017-02-09 22:01] mrozbarry opened #15 "Setting a package to { url: "gitrepo", ref: "branch" } throws an error."
In advanced usage, you have an example of:

[code]

But doing that in my code throws:

[code]

It looks like your spec tests only test if a repository string, and not if it's a hash with url and ref.

[2017-02-10 05:19] gdotdesign commented on #15
For me with 0.3.1 for this `elm-package.json`:
[code]
works correctly:
[code]

Maybe you added it to the `dependencies` field instead of the `dependency-sources`?

[2017-02-10 14:08] mrozbarry commented on #15
You are correct, I just misread the docs. Thanks for clearing that up.

[2017-02-10 14:08] #15 closed, assigned to nobody

[2017-02-13 15:22] mrozbarry opened #16 "Aliasing a package from a forked repository"
Just to start off, the problem may not actually be with elm-github-install, but instead with the elm native naming convention.

I'm using a library in elm-community that I am also contributing to (without write access, just via PRs). This repo implements a native module, and that works.  I own an unmerged branch that I need features from.

My issue is that native modules force the naming `_package

[2017-02-13 17:38] gdotdesign commented on #16
Yes this is a limitation at the moment which I looked into while ago and made some headway in this PR: https://github.com/gdotdesign/elm-github-install/pull/14 also see the discussion here https://groups.google.com/d/msg/elm-discuss/eusppnDgN-A/mf1L08NRCAAJ

The code works and I could successfully install `elm-lang/core` from a fork and even from locally in the file system. I didn't have time to f

[2017-02-22 06:07] gdotdesign commented on #13
Hey, sorry for the late response. If you are having trouble installing from either rubygems or npm there are binaries uploaded in the releases page for every release: https://github.com/gdotdesign/elm-github-install/releases

[2017-02-23 08:11] abhinavzspace opened #17 "elm-install not working"
It was working fine with elm-ui until I tried adding `elm-community/list-extra`. I am fairly new to elm. Need help.

I am getting following message when I try `elm-install install`.

[code]

[2017-02-23 08:34] gdotdesign commented on #17
As you can see most packages requires `elm-lang/core` at `5.0.0 <= v < 6.0.0`, but `elm-community/list-extra` requires `4.0.0 <= v <= 4.0.0`:
[code]
That is why it cannot find a solution, you are probably using an old version of it (1.0.0) so try to specify a more latest version of it (6.0.0)

[2017-02-23 08:46] abhinavzspace commented on #17
I am doing the following steps:

1. `elm package install elm-community/list-extra 6.0.0` (to add package to elm-package.json). It adds `"elm-community/list-extra": "6.0.0 <= v < 7.0.0",` to elm-package.json.
2. `elm-install install` (I get this same error again)

I know I am doing something completely wrong, but can't figure it out.

[2017-02-23 08:48] gdotdesign commented on #17
Can you post your `elm-package.json` it would help to figure it out?

[2017-02-23 08:49] abhinavzspace commented on #17
[code]

[2017-02-23 09:02] gdotdesign commented on #17
OK I found the issue: `elm-ui` has a dependency of `"elm-community/list-extra": "4.0.0 <= v < 5.0.0"` which causes this problem. Using the same dependency makes the install work.

If you need something from the newer versions of `elm-community/list-extra` let me know and I can bump it up in `elm-ui`.

I'll look into making the error message nicer for this case.

[2017-02-23 09:09] abhinavzspace commented on #17
Thanks. I don't need anything new yet.

[2017-02-23 09:20] #17 closed, assigned to nobody

[2017-02-23 11:57] helderjnpinto opened #18 "error on install this package truqu/elm-base64"
on install this package i get un error like
`
elm-install
Resolving packages...
  ▶ Package: https://github.com/truqu/elm-base64 is outdated, fetching changes...
  ▶ Package: https://github.com/maxsnew/IO is outdated, fetching changes...
  ▶ Package: https://github.com/deadfoxygrandpa/Elm-Test is outdated, fetching changes...
  ▶ Package: https://github.com/laszlopandy/elm-console is outdated, fet

[2017-02-23 12:08] gdotdesign commented on #18
Can you show your `elm-package.json` file? it should help debugging this issue.

[2017-02-23 12:09] helderjnpinto commented on #18
@gdotdesign
`
{
    "version": "1.0.0",
    "summary": "helpful summary of your project, less than 80 characters",
    "repository": "https://github.com/user/project.git",
    "license": "BSD3",
    "source-directories": [
        ".",
        "src"
        ],
    "exposed-modules": [],
    "dependencies": {
        "Digisensei/elm-phoenix-socket": "2.0.1 < v < 3.0.0",
        "NoRedInk/elm-decode

[2017-02-23 12:48] gdotdesign commented on #18
For me it's working properly, did you wait until it's finished? the output your provided is normal.

Using a different cache directory `elm-install --cache-directory=cache` (the default is `~/.elm-install`) shows me this output:
[code]

[2017-02-23 12:55] helderjnpinto commented on #18
the question is i make a project find for packages like "deadfoxygrandpa/elm-test" but i not use! why elm-install is search for that

[2017-02-23 13:01] gdotdesign commented on #18
You can read about how `elm-github-install` works in this document: https://github.com/gdotdesign/elm-github-install/blob/master/docs/How%20it%20works.md but basically it creates a cache of the packages that you use or used.

This cache is just the clones of the repositories in `~/.elm-install` directory. It allows among other thigns for offline installation of packages.

 In this case `deadfoxygr

[2017-02-23 13:17] helderjnpinto commented on #18
OK. Thanks. I'll see what the problem is.

[2017-02-23 13:31] helderjnpinto commented on #18
yes now its working, but If I remove the line for this base64 package, delete folder elm-stuff, elm-install does not show these packages I speak, and the base64 package does not have this dependencies  https://github.com/truqu/elm-base64/blob/master/elm-package.json.

[2017-02-23 13:39] gdotdesign commented on #18
Yes you are right the latest version does not depend on it, but **elm-github-install** goes through all versions of it and since the 1.0.0 (https://github.com/truqu/elm-base64/blob/1.0.0/elm-package.json) has that dependency it clones it.

[2017-02-23 14:19] helderjnpinto commented on #18
ok, i resolve this issue put   "truqu/elm-base64": "1.0.5 <= v < 2.0.0" to get only last version... thanks

[2017-02-23 14:36] #18 closed, assigned to nobody

[2017-03-04 06:17] gdotdesign commented on #13
Didn't get a response for 30 days, closing.

[2017-03-04 06:17] #13 closed, assigned to nobody

[2017-03-04 06:24] gdotdesign commented on #12
Didn't have activity for 30 days, closing. If there is any update please reopen this issue.

[2017-03-04 06:24] #12 closed, assigned to nobody

[2017-03-13 05:15] dustinfarris opened #19 "Installing via Yarn bin doesn't work"
Maybe via npm also, I didn't check

On ubuntu 16.04

[code]

[2017-03-13 05:29] gdotdesign commented on #19
The node version uses https://github.com/phusion/traveling-ruby to provide a separate ruby runtime so having ruby installed is not a requirement. During installation the node version downloads this packaged version and extracts it to a new directory in `~/.elm-install/`.

You can run the proper binary with `yarn elm-install` or `yarn run elm-install`.

Alternatively If you already have ruby instal

[2017-03-14 22:15] dustinfarris commented on #19
Thanks, that worked.

[code]

[2017-03-14 22:15] #19 closed, assigned to nobody

[2017-03-15 04:28] brezal opened #20 "Correct usage"
Hi. I'm wondering if this is the correct usage:

[code]

I have this in my elm-package.json and ran `elm-install`, but it seemed to have failed to fetch the `aforemny/elm-mdl` package. Thanks for your work in putting this project together!

[2017-03-15 05:12] gdotdesign commented on #20
You need to add `aforemny/elm-mdl` as a dependency to `dependencies` the version does not matter. `dependency-sources` are just for specifying where your dependencies come from so adding a only package there does nothing.

[2017-03-15 16:12] brezal commented on #20
That did it! Thanks @gdotdesign

For anyone who might experience this, I changed it to:
[code]
...removing `.git` from the `url` in `dependency-sources` and adding the repo, as suggested, to `dependencies`.

[2017-03-15 16:12] #20 closed, assigned to nobody

[2017-04-06 22:24] alexgig opened #21 "npm install failing (Error: EACCES: permission denied, mkdir)"
Hi,

I am having trouble installing this package globally. I run the following:

[code]

and get the following:

[code]

Thanks,
Alex

[2017-04-21 01:29] samueller commented on #21
Having the same issue on macOS Sierra. I manually ran `mkdir '/Users/scott/.elm-install'` as it said permission denied for that command. Then I manually ran `mkdir '/Users/scott/.elm-install/elm-install-0.3.1-osx'` for the same reason. Now I get the following error:
[code]
I'm running the latest version of npm (v4.5.0) and I also ran the install with `sudo`.

[2017-04-21 08:06] gdotdesign commented on #21
I probably won't be able to reproduce this because I don't have access to a mac. If anyone could debug this I would be grateful.

In the mean time there are other ways of installing:
* with [rubygems](https://rubygems.org/gems/elm_install) `gem install elm_install`
* by downloading and extracting the binary from the [releases page](https://github.com/gdotdesign/elm-github-install/releases).

[2017-04-21 15:16] samueller commented on #21
It worked for me by not installing globally. I just took off the `-g` flag. Then I ran `elm-github-install` with `node_modules/.bin/elm-github-install`.

[2017-04-28 05:11] ryanucode opened #22 "Installs invalid version"
Seems to be installing the incorrect version of my github hosted package. My `elm-package.json` specifies at least `v0.0.13` of `elm-firebase`, but `elm-github-install` grabs `0.0.12` even though `0.0.13` is the current master! This computer has never seen the `0.0.12` library before so there was no cache.

My elm-package.json:
[code]
Program output:
[code]

[2017-04-28 07:47] gdotdesign commented on #22
I've tried to install with the `elm-package.json` you have provided and for me it installs the correct version. The version number may be incorrect when using an explicit branch, so can you verify that `elm-stuff/elm-stuff/packages/pairshaped/elm-firebase/0.0.12` is actually `0.0.12`?

[2017-05-02 06:50] gdotdesign commented on #16
I've made progress on this in #23. I've rewritten how sources are used, so this and using local packages will be available when it releases.

[2017-05-05 10:47] gdotdesign commented on #16
This is now available in https://github.com/gdotdesign/elm-github-install/releases/tag/v1.0.0

[2017-05-05 10:47] #16 closed, assigned to gdotdesign

[2017-05-07 12:49] opsb opened #24 "URI format for local directory dependency"
You mentioned in https://groups.google.com/forum/#!searchin/elm-discuss/elm-github-install|sort:relevance/elm-discuss/eusppnDgN-A/TI7Lovl-AQAJ that elm-github-install now supports installing a dependency from a local directory. I assumed that this would be done using the `file://` protocol but I get the error

[code]

How do you specify a local directory as a dependency?

[2017-05-07 12:55] opsb commented on #24
Found the docs :) (for anyone else that missed it, it's in https://github.com/gdotdesign/elm-github-install#advanced-usage)

[2017-05-07 12:55] #24 closed, assigned to nobody

[2017-05-08 20:42] rupertlssmith commented on #21
Not just Macs, I get the same issue on Linux:

[code]

[2017-05-12 13:01] thienngho commented on #21
I got the same issue on Ubuntu
[code]

[2017-05-25 23:11] ryanucode commented on #22
This ended up being an issue with the tag on the repo. Thanks for your response!

[2017-05-25 23:11] #22 closed, assigned to nobody

[2017-06-07 08:20] raymanoz opened #26 "Fails silently when github is unreachable"
Running `elm-github-install` when github is unreachable (eg. when you are behind a corporate firewall), it does nothing and returns an error code of 0 (success).

[code]

[2017-06-07 10:48] #26 closed, assigned to nobody

[2017-06-07 10:49] raymanoz commented on #26
Sorry, my bad. My method of testing broke it. It works fine :)

[2017-06-13 18:30] cscalfani commented on #21
@samueller After I created the 2 directories manually, I had to change the owner of the 2nd directory with:

`sudo chown nobody elm-install-1.0.1-osx/`

Then it WORKS!

BTW, afterwards you need to change ownership back to you for all files (-R) otherwise it won't run:

`sudo chown -R charles elm-install-1.0.1-osx/`

Note: change `charles` to your user.

[2017-06-14 15:51] cscalfani opened #27 "Unable to satisfy requirements error when there is a perfect match"
I'm getting the following error:

[code]

Clearly, these match.

`elm-slate/api` comes from Github and `guardian/session-api-common` comes from our in-house Gitlab server.

When I EXPLICITLY add `elm-community/maybe-extra` to my `elm-package.json`, it works.

Here's my `elm-package.json` that fails:

[code]

[2017-06-16 21:04] cscalfani opened #28 "Newest version does NOT get installed"
I had a repo go from version 4.1.0 to 4.1.1. My elm-package.json is looking for 4.0.0 <= v < 5.0.0.

Every time I run `elm-github-install`, it finds the 4.1.0 version in the cache and installs that.

The only way to get it to install correctly, is to DELETE the cache files.

[2017-06-19 10:26] takaczapka commented on #28
Even more, if I have a new version of the package (moving from 1.1.2 to 1.1.3) and update in my project's elm-package.json to be "1.1.3 <= v < 2.0.0" it will not find it unless I delete cached version from $HOME/.elm-install/github/.

[2017-06-25 17:16] dbulic commented on #21
On Ubuntu 16.04 I am getting the same thing when using
[code]
However, yarn works well
[code]

[2017-06-29 12:17] roberth opened #29 "Provide a license"
Presumably, elm-github-install has been published here for other people to use. Legally, however, it should not be used by anyone except the copyright holder.
See https://help.github.com/articles/licensing-a-repository/
I am not a lawyer.

[2017-07-04 21:53] wende commented on #28
Same here.

BTW @gdotdesign I wanted to say this project was enormous help in making https://github.com/wende/elmchemy. You're our hero 🙌

[2017-07-17 08:06] gdotdesign commented on #28
I'm aware of this issue, and I'm planning of fixing it this week. (I was on holiday)

It comes from the fact that git repositories are decentralized and there are no single server where we could check for new versions. Currently there is no mechanism for updating repositories so only those versions are available which existed when they repository was cloned.

I'll probably do something like [Cryst

[2017-07-17 08:23] gdotdesign commented on #29
Thanks for pointing it out. I've added MIT license.

[2017-07-17 08:23] #29 closed, assigned to nobody

[2017-07-21 09:06] gdotdesign commented on #28
This PR should fix it https://github.com/gdotdesign/elm-github-install/pull/30

It comes with one downside that all installs will be slower because of all the fetches that need to take place.

@takaczapka @wende @cscalfani if any of you could test it out I would be grateful,  just let me know if you need me to create a build (in case you can't install from source or from github directly).

[2017-07-24 07:55] gdotdesign commented on #28
Released as [v1.1.0](https://github.com/gdotdesign/elm-github-install/releases/tag/v1.1.0)

[2017-07-24 07:55] #28 closed, assigned to nobody

[2017-07-26 17:33] on3iro commented on #21
Same problem, and also on ubuntu. The workaround with yarn @dbulic mentioned works, though.

[2017-07-28 15:48] rupertlssmith opened #31 "Solving dependencies fails."
Solving dependencies fails with this error:

`Solving dependencies...
/var/lib/gems/2.3.0/gems/solve-3.1.0/lib/solve/ruby_solver.rb:80:in `block in resolve': undefined method `name' for nil:NilClass (NoMethodError)
        from /var/lib/gems/2.3.0/gems/solve-3.1.0/lib/solve/ruby_solver.rb:79:in `each'
        from /var/lib/gems/2.3.0/gems/solve-3.1.0/lib/solve/ruby_solver.rb:79:in `inject'

[2017-07-28 16:09] rupertlssmith commented on #31
Here is an elm-package.json that it fails on:

`{
    "version": "0.0.1",
    "summary": "Auth Server UI",
    "repository": "https://github.com/no-user/not-a-github-project.git",
    "license": "private",
    "source-directories": [
        "src/elm",
        "src/auth-client/elm"
    ],
    "exposed-modules": [],
    "native-modules": true,
    "dependencies": {
        "elm-lang/core": "5.0.0 <

[2017-07-28 16:10] rupertlssmith commented on #31
[elm-package.txt](https://github.com/gdotdesign/elm-github-install/files/1183624/elm-package.txt)

[2017-07-28 16:11] gdotdesign commented on #31
Couple of questions:
* are you using it as a gem?
* did the same `elm-package.json` work on Debian 8?

[2017-07-28 16:14] rupertlssmith commented on #31
Yes I installed it as a ruby gem.
It did work on Debian 8 (ruby 2.1.5) just fine, but not this version of elm-install, I was running something older but not sure what.

[2017-07-28 16:23] gdotdesign commented on #31
Managed to reproduce it. I'll look into it and get back to you.

[2017-07-28 16:33] gdotdesign commented on #31
Yes some dependency changed and causing this bug. Until I can fix it I recommend using the npm package or the binaries that are available in the releases page.

[2017-07-28 16:36] rupertlssmith commented on #31
Thanks. Unfortunately npm won't install as per the other issue. I tried downloading the binaries, but they also do not run, or I do not understand how to install them and use them (tried unpackaging under /opt and running there).

[2017-07-28 16:59] gdotdesign commented on #31
Released [`v1.1.1`](https://rubygems.org/gems/elm_install/versions/1.1.1) on rubygems with the fix. Let me know if it works.

[2017-07-28 17:11] rupertlssmith commented on #31
Thanks, 1.1.1 installs as a gem and the issue is fixed. Thanks for sorting it so quickly.

[2017-07-28 17:19] #31 closed, assigned to nobody

[2017-08-01 21:23] RobertFischer opened #32 "`elm-install` just failing with contract failure for jRuby"
I'm getting an issue with contract violation around parsing constraints.

Here's my minimal `package.json`:
[code]

And here's the error that I get.
[code]

Here's the version information, for the record:
[code]

Any idea what is up?

[2017-08-01 21:34] RobertFischer commented on #32
Looks like it's a jRuby issue. I used `rbenv` to change to 2.4.1 locally and it worked just fine after a reinstall.

[2017-08-01 21:35] #32 closed, assigned to nobody

[2017-08-01 22:23] headius commented on #32
Looks like some array isn't getting splatted properly, so you get the array instead of its first element. Toss us a bug and we'll look into it.

[2017-08-02 11:56] gdotdesign commented on #21
This PR #33 should fix this issue once released.

[2017-08-02 13:30] RobertFischer commented on #32
@headius -- Bug submitted. https://github.com/jruby/jruby/issues/4732

Thank you very much!

[2017-08-02 14:25] rupertlssmith commented on #21
Muchos appreciated.

[2017-08-04 13:52] gdotdesign commented on #21
Released as [v1.2.0](https://github.com/gdotdesign/elm-github-install/releases/tag/v1.2.0)

If someone affected with this could test it out it would be appreciated :+1:

[2017-08-07 05:40] #21 closed, assigned to nobody

[2017-08-07 06:56] gdotdesign commented on #27
This commit should fix this issue: https://github.com/gdotdesign/elm-github-install/commit/16c50824d591fdb533fba389745204cba23e1902 I'll let you know once it's out.

[2017-08-07 06:59] gdotdesign opened #34 "Only install packages that match the current packages Elm version."
It is possible to release packages for a new version of Elm as minor change which makes it impossible to install older versions of a package, because of the `elm-lang/core` hardcoded dependency.

Failing `elm-package.json`: https://github.com/debois/elm-mdl/blob/7.6.0/elm-package.json

[2017-08-08 10:47] jirisliva opened #36 "Symlinks on Windows"
When we define dependency-source as local folder then elm-install want to create symlink pointing to that folder. This works on macOS or Linux but on Windows we got error reported by FileUtils.rb

[code]
This issue (creating symbolic link on Windows) seems to be solved in Ruby 2.3. Do you have plan to update to 2.3?

Entire report:
[code]

[2017-08-08 11:02] gdotdesign commented on #36
Travelling Ruby is used to distribute the application on NPM and the latest it supports is 2.2.

I think the [gem](https://rubygems.org/gems/elm_install) should work if installed on 2.3 (with `gem install elm_install`), can you test if it works this way?

[2017-08-08 11:11] jirisliva commented on #36
With elm-install installed as Ruby gem it works perfectly. Thanks.

[2017-08-08 12:14] gdotdesign commented on #36
Thanks for testing and pointing it out :+1:  I'll add a note about this to the Readme, until then I'll leave this issue open.

[2017-08-14 07:58] #34 closed, assigned to nobody

[2017-08-14 08:03] gdotdesign commented on #36
Added a note to the readme about this, closing.

[2017-08-14 08:03] #36 closed, assigned to gdotdesign

[2017-08-14 08:14] gdotdesign commented on #27
This is fixed in v1.3.0.

[2017-08-14 08:14] #27 closed, assigned to nobody

[2017-08-15 13:51] hpate-omicron opened #37 "Error installing mgold/elm-date-format"
First, thank you for the library, it has made it way easier to handle private Elm packages!

I noticed this on our CI when it updated to v1.3.0, it didn't happen previously on v1.2.0:

Short version:
[code]

With `trace` on:
[code]
Minimal case:
[code]

I looked through the `elm-date-format` repo and I think it may be that the `0.1.0` version is tagged as `0.1` in the Github release - https://gith

[2017-08-15 21:34] kfish opened #38 "Return code"
I often chain commands together, like:

  $ elm-install && make ...

then get coffee.

It seems elm-install always returns success (exitcode 0):

[code]

so the commandline chain doesn't work: if I do "elm-install && make" then make should not run.

[2017-08-17 08:48] #37 closed, assigned to nobody

[2017-08-17 08:48] #38 closed, assigned to nobody

[2017-08-17 08:52] gdotdesign commented on #38
Thanks for bringing this up, fixed in 1.4.0 - https://github.com/gdotdesign/elm-github-install/releases/tag/v1.4.0

[2017-08-17 08:53] gdotdesign commented on #37
Glad to hear it! :tada:

Nice catch and I really appreciate the minimal case :+1: :smile:

Fixed in 1.4.0 - https://github.com/gdotdesign/elm-github-install/releases/tag/v1.4.0

[2017-08-17 21:25] enebo commented on #32
I fixed this for our upcoming 9.1.13.0 release.  The problem was that we fired method_added and singleton_method_added in a different order than MRI.  You may want to rethink how this works since I suspect you have a 50% chance of failing on RubyTruffle or Rbx or perhaps even MRI if someone happens to change the firing order.  It is not big deal for us to match MRI here but I thought I would chime

[2017-08-18 06:45] gdotdesign commented on #32
Thanks for looking into this :+1: :smile:

Just to clarify If I were to remove the contracts gem, this issue would go away? Is there anything that I can do In this gem to make it less brittle?

[2017-08-18 14:17] enebo commented on #32
@gdotdesign sorry I wrote this like you wrote the contracts gem.  Here is a bit more analysis...

There are two things at play here.  The first is for module_methods if the contracts gem recieves singleton_method_added first it replaces the definition of the module_method but not the corresponding instance method which is created by the Module.  If the order is switched then it replaces the instan

[2017-08-18 14:40] gdotdesign commented on #32
Thank you so much for the explanation!

This is probably a bug somewhere because `transform_constraints` should return an array with multiple elements every time, instead of a single element so the type constraint is wrong.

Edit: Probably JRuby impementation is (was?) correct
Edit2: If you look at the specs it's clear that the type constraint is wrong: https://github.com/gdotdesign/elm-github-ins

[2017-08-24 13:27] rupertlssmith opened #40 "elm-install frequently fails when >1 build is run in parallel"
I get this error a lot on my build server:

[code]

The problem is easy enough to work around by either:
* Making parallel builds run sequentially
* Containerizing every build to ensure they do not interfere with each other.

So perhpas it is unfair to rase this as an issue against elm-github-install?

But it would be nice if it were possible to have a centralized cache under ~/.elm-install and fo

[2017-08-24 13:36] gdotdesign commented on #40
I think understand the problem.

I don't know :smile: maybe it's possible to wait for a process to exit using the `git` gem but I need to look into that.

If the builds are running in a different directory you can use the `--cache-directory` flag to avoid this.

[2017-08-24 17:16] rupertlssmith commented on #40
I will try the --cache-directory flag to set up each build with its own cache. I made the build serial but it takes too long now, at least that will get it back to parallel. Thanks.

[2017-08-25 09:30] rupertlssmith opened #41 "Package author and name are not case sensitive."
I have the following in an elm-package.json:

[code]

This installs fine with elm-github-install, as it seems to just use the auther/package name in building a URL to access github.

When I try to install this with elm-pakcage

[code]

The actual package name is 'TSFoster/elm-heap'.

It seems that to elm-make, elm-reactor and elm-publish the case sensitivity of the author and package name is impor

[2017-08-25 09:59] gdotdesign commented on #41
Thanks for bringing this up! :+1:

In this case yes.

There are two things here:
* there is no central repository where we could check the name
* we need to check if the package name is different than the git url without including the github API since every git repository can be used not just github

[2017-08-25 11:44] rupertlssmith commented on #41
I think I might also raise this as an issue against elm-package - as elm-package publish lets you publish an invalid elm-package.json. However, elm-make is capableof detecting that the package name is wrong since it fails like above. It might be helpful to the consistency of the published packages if elm-package publish were to re-scan and check that all the dependencies correctly match up to alre

[2017-09-05 15:47] wende opened #42 "Performance issue when downloading packages with versions after 1.3 and newer"
Before:
<img width="857" alt="screen shot 2017-09-05 at 17 45 11" src="https://user-images.githubusercontent.com/4634386/30069904-375dae20-9262-11e7-8d64-ea1c9ce5bea1.png">

On
<img width="885" alt="screen shot 2017-09-05 at 17 47 00" src="https://user-images.githubusercontent.com/4634386/30069921-42b21914-9262-11e7-975d-f95718d4240c.png">
 version 1.3+

[2017-09-05 15:49] wende commented on #42
Same behaviour after cleaning the cache:
<img width="864" alt="screen shot 2017-09-05 at 17 49 15" src="https://user-images.githubusercontent.com/4634386/30070044-8ea4501c-9262-11e7-860a-c860752665e9.png">

[2017-09-06 06:58] gdotdesign commented on #42
I'm not sure what is causing this, I'll try to debug it soon.

[2017-09-10 17:49] samueller commented on #21
v1.4.0 still causing an issue on my Mac:
[code]

[2017-09-13 09:40] ColaKaii commented on #21
@cscalfani Thank you!!!!!!
This help me a lots!!!!!!!!!!!

[2017-09-14 09:30] geekyme opened #43 "Cygwin support"
Running elm-install on cygwin produces errors:

[code]

I've debugged further and it turns out that `path` [here](https://github.com/gdotdesign/elm-github-install/blob/master/lib/elm_install/repository.rb#L24) is receiving a path with the windows volume:

C:/work/ext/cygwin/home/user/.elm-install/github.com/NoRedInk/elm-decode-pipeline

The problem with this is that when passed to `git`, `git` int

[2017-09-14 12:53] gdotdesign commented on #43
I'm not familiar with cygwin so I need to look into it, also some more information would be helpful:
- how did you install? (npm installer / as a gem / binary from the releases page)
- windows version
- `elm-package.json` if available

[2017-09-14 12:54] geekyme commented on #43
installed via `npm install -g elm-github-install`
windows 7
elm-package.json is the stock template from https://github.com/halfzebra/create-elm-app

[2017-09-14 13:36] gdotdesign commented on #43
elm-github-install in windows runs with a portable ruby environment called [traveling-ruby](https://github.com/phusion/traveling-ruby) this means that it uses windows paths, the git commands  in cygwins accepts linux paths which leads to a conflict.

It is probably possible to detect if the environment is cygwin and then the paths can be converted with `cygpath`. I can do it some time but it's not

[2017-09-15 00:45] kfish opened #44 "Add option to update one dependency"
When I work on a project which consists of both a library and a program in separate git repos, a common workflow is to:

 1. add a feature to the library, commit and push it
 2. run elm-install in the program dir, to update the dependency
 3. use the new feature

However, step 2 takes a long time, because elm-install checks all the dependencies for updates. I specifically know that my own library

[2017-09-15 02:12] geekyme commented on #43
Trying to install everything outside cygwin now

https://github.com/gdotdesign/elm-github-install/releases/download/v1.4.0/elm-install-1.4.0-win32.zip is not completely portable because its assumed git is installed.

I did that, but ran into more path errors.

Trying to use the linux release in cygwin doesn't work too.

[2017-09-15 06:28] gdotdesign commented on #44
This a complex issue which I don't really know how to resolve.

Basically there is a cache of git repositories in `~/.elm-install/`, we can use that cache to install the dependencies. The question is when to invalidate the cache, but there are several ways that the repository can be used:
- by version
- by referencing a tag / branch or specific commit (refs)

We could just compare the versions of

[2017-09-15 08:50] #42 closed, assigned to gdotdesign

[2017-09-15 08:57] gdotdesign commented on #42
Managed to track down the issue: during the resolving process we check each version against the elm-version of the current `elm-package.json`, this wasn't optimized and coupled with the high number of versions `elchemy-core` has lead to the increased runtime.

After the fix here are my numbers with the `elm-package.json`:
[code]
![after-fix](https://user-images.githubusercontent.com/302692/3047456

[2017-09-15 08:58] gdotdesign commented on #44
Also this issue might affect your install time: https://github.com/gdotdesign/elm-github-install/issues/42

[2017-09-15 09:07] gdotdesign commented on #42
Released as v1.5.0

[2017-09-15 10:57] wende commented on #42
Beautiful! Thank you 🎉

[2017-09-20 10:11] gdotdesign commented on #44
I've implemented 1. and 3. form above, so now you can use: `elm-install --only-update elm-lang/core`

Released as 1.6.0

[2017-09-20 10:11] #44 closed, assigned to nobody

[2017-09-20 10:18] kfish commented on #44
Awesome, thanks!

[2017-09-22 22:21] metaleap opened #45 "Can we have an option so it won't clone already-existing/"official"/public packages (like elm-lang/core etc)?"
That option would either skip all `dependencies` that already reside in `./elm-stuff/packages` (but I guess wouldn't work well for package updates then?) or perhaps check the official package.elm-lang.org (I guess checking for 404 when hitting `http://package.elm-lang.org/packages/FOO/BAR/latest` might suffice).

I hoped the new `--only-update` would be a way to prevent `elm-install` from grabbing

[2017-09-23 07:42] gdotdesign commented on #45
I don't really understand the use case you are having, it's any of these?:
- You install packages with `elm-package` and want to install some with `elm-install`?
- You want `elm-install` to use the official package repository?

`--only-update` is for skipping `git fetch` in currently cloned repositories except the one given, there is `--skip-update` with skips `git fetch` for all cloned repositori

[2017-09-23 08:12] metaleap commented on #45
I think it was a bit late last night, I had some misconceptions or something. Didn't like "at first glance" that `elm-lang` repos (or generally any dep that was already properly resolved and sitting ready inside `elm-stuff`) were cloned from Github in a moment of "oh no, it will override the 'offical' working current-version release with some whack work-in-progress state from the git repo". But th

[2017-09-23 08:12] #45 closed, assigned to nobody

[2017-09-26 15:28] brianeroth opened #46 "Contract violation on install of local packages"
I'm receiving the following error when trying to install an Elm package that is on my local filesystem using a relative path. Using Ruby 2.4.1 and the latest version of elm-github-install.

Any thoughts?

[code]

[2017-09-26 16:28] gdotdesign commented on #46
This is a bug, I'll try to fix it this week. Thanks for reporting :+1:

[2017-09-28 12:56] ghost commented on #21
`sudo npm i -g elm-github-install --unsafe-perm=true --allow-root`

same for "just elm"

`sudo npm i -g elm --unsafe-perm=true --allow-root`

/related: https://github.com/npm/npm/issues/17268

[2017-09-28 13:04] gdotdesign commented on #21
Thank you! :hugs:  I'll update the Readme to use that as a fallback.

[2017-09-28 13:46] gdotdesign commented on #46
Fixed in v1.6.1

[2017-09-28 13:46] #46 closed, assigned to gdotdesign

[2017-09-29 08:54] dustinfarris opened #47 "Trouble using with elm-test"
I get this output:

[code]

I tried running elm-github-install from within my tests directory (using its own elm-package.json) but that didn't help.

[2017-09-29 09:08] gdotdesign commented on #47
I need some information :) both `elm-package.json`s and the directory tree of both `elm-stuff` (`tree elm-stuff -L 2`) for starters.

[2017-09-29 09:22] dustinfarris commented on #47
Ok.  For the record I can still run elm-test, it's just giving me this output — not sure if it will bite me or not — I'm just getting started writing tests.

Here's the info you asked for:

https://gist.github.com/dustinfarris/28f138f4b64b522147d881c027a746bc

[2017-09-29 10:08] gdotdesign commented on #47
Thanks.

You mean it actually runs the tests and this is some extra output with them?

[2017-09-29 10:57] dustinfarris commented on #47
Right, sorry if that wasn't clear.  No emergency, just seeing this output every time I run elm-test.

[2017-10-02 23:47] MartinKavik commented on #47
@dustinfarris, @gdotdesign :
Well, this problem was a show-stopper for me, my temporary solution is this:
(see "**_tachyons-elm_**" in both files below)

File **/elm-package.json**:
[code]

File **/tests/elm-package.json**:
[code]

[2017-10-03 04:11] gdotdesign commented on #47
@MartinKavik The dependencies in `test/elm-package.json` needs to include all dependencies of the parent `elm-package.json` (4. point of https://github.com/elm-community/elm-test#running-tests-locally) and probably you need to install the dependencies with `elm-github-install` after that in the `test` directory.

@dustinfarris  I think the `node-test-runner` tries to install packages on every run

[2017-10-04 17:00] emcfarlane opened #48 "Error Pulling from gitlab."
Mirrored elm repos from github and redirecting to gitlab with:
[code]

Fails with the following error:
[code]

Tags are maintained for the cloned repos. What could be causing this?

[2017-10-05 06:16] gdotdesign commented on #48
This error is not for the version tag but for the version in the `elm-package.json` at a specific tag. Can you post the `elm-package.json` of your project?

[2017-10-05 07:56] emcfarlane commented on #48
elm-package.json:
[code]

Removing the dependency-sources all dependencies are pulled down fine.

[2017-10-06 09:10] emcfarlane commented on #48
@gdotdesign is something wrong with the elm-package.json?

[2017-10-09 05:33] gdotdesign commented on #48
Yes, probably one of the versions of `elm-lang/core` (or an other package) has an empty string in it's `elm-package.json`. This can be fixed though I don't know when I'll have the time.

[2017-10-09 14:24] emcfarlane commented on #48
Its due to `elm.json` instead of `elm-package.json`.

[2017-10-09 16:53] gdotdesign commented on #48
Then it's because of `0.19`. I'll try to support it after it comes out.

[2017-10-18 15:45] mrmurphy opened #49 "Can't install with local path in "dependency-sources""
I've added a local path to "dependency-sources" (I've tried both relative and absolute paths). My `elm-package.json` looks like this:

[code]

I've deleted `elm-stuff`, and whenever I run `elm-install` I get the following error message:

[code]

I've tried both an `npm` installed version of elm-install, and the globally installed gem.

I've tried creating the `elm-stuff` directory by hand and runn

[2017-10-18 17:59] mrmurphy commented on #49
@zwilias pointed out that I've got a trailing comma on that single line in my dependency sources. I removed that, and the install seemed to work just fine!

He tested on his computer with version `1.0.1`, and that version warned him about invalid json in `elm-package.json`. But it appears that `1.6.1` no longer shows that warning.

Again, thanks for the tool! I'll close this issue.

[2017-10-18 17:59] #49 closed, assigned to nobody

[2017-10-19 04:31] gdotdesign commented on #49
Thanks for reporting this, I think a warning should be there I'll open an issue for this.

[2017-10-19 04:31] gdotdesign opened #50 "Warn the user about invalid root json."

[2017-10-25 14:07] maksimluzik commented on #21
This is permission issue on the folder. For some reason subfolder permissions were changed from `jenkins` to `root` which caused the issue. `sudo chown -R jenkins:jenkins foldername` solved the issue.

[2017-10-31 07:32] mingan commented on #47
I'd like to clarify that for this to work, you need to be on node-test-runner 0.18.9 or newer which [doesn't stop when it can't install dependencies](https://github.com/rtfeldman/node-test-runner/pull/200).

[2017-11-02 07:39] mingan opened #51 "No solution found: Unable to satisfy the following requirements"
I have version 1.6.1 installed (as a Ruby gem) and there are two private packages hosted on our company's GitLab. I have a project running and the dependencies are installed ok but when I update one of the dependencies (bump the version, even create a tag for that version) and run elm-install, it ends with:

[code]
When I check the cache in `~/.elm-install` I can see that it is still at the previo

[2017-11-12 08:38] simonh1000 opened #52 "Over-reliance on cache"
I just used elm-install for the first time in a while, and the library I wanted to access had had several updates since my last use. What was installed was the old cached version, and the only way I could find around it was to change my elm-package.json to use the latest version.

Surely there should be some sort of check of cached versions vs what's on github?

[2017-11-12 08:47] gdotdesign commented on #52
It seems to me like you are using an old version.

In [1.1.0](https://github.com/gdotdesign/elm-github-install/releases/tag/v1.1.0) changes for the repositories are checked on every install.
In [1.6.0](https://github.com/gdotdesign/elm-github-install/releases/tag/v1.6.00) two flags were added to either skip checking or just update only one dependency.

If you are using the latest version and it's

[2017-11-12 09:47] simonh1000 commented on #52
whoops!

[2017-11-12 09:47] #52 closed, assigned to nobody

[2018-01-04 21:24] SmiffyKMc commented on #21
@maksimluzik I am having this issue trying to build an android sdk. I wrote what you said and it's still causing an issue. Can someone please give me a tip as I'm after spending 3 days at this and it's killing me oO.

My shell is:

    source /etc/profile
    set JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_131.jdk/Contents/Home
    set ANDROID_HOME=/Users/me/Library/Android/sdk
    set PA

[2018-01-05 07:37] maksimluzik commented on #21
@SmiffyKMc that looks weird issue indeed. Not sure whats up with that. If you are 100% sure that the path to that file is correct `/Users/me/Library/Android/sdk/tools/source.properties` then unfortunately don't know from your description what is the issue

[2018-01-05 08:55] SmiffyKMc commented on #21
@maksimluzik ah shame, was hoping you'd know since your last comment was my issue. Sorry, my main issue is that I'm trying to build an Ionic Android App through Jenkins. I can build it perfectly fine on the terminal but Jenkins seems to be having issues with permissions. I made owner and group of the files from the folder that jenkins needs access to but it still gives a permission denied. Maybe i

[2018-01-06 02:10] martinos opened #53 "Unknown filetype"
I am on MacOs Sierra  and when I run the command I get the following error message:

[code]

Here is the call stack
[code]

I get the same error when using the npm version.

It seems that this error is not bound to a specific package.

[2018-01-06 18:57] martinos commented on #53
It seems that the file that the gem is trying to copy does not exist anymore. Is there some kind of threading in the library?

[2018-01-13 19:36] agbottan commented on #21
I had the same kind of problem, with denied permissions. I'm using Linux Mint and, even with 'sudo', the permission to create folders was denied.
I achieved the complete installation opening a new terminal window with the root user.
My guess is that, even if we use 'sudo', npm can change it's user in the flow and loose the permissions granted by 'sudoing'.
And, I think that using the root terminal

[2018-01-14 19:56] GasCreature commented on #21
Still does not work. I'm using most recent Kali Linux.

[2018-01-14 19:59] GasCreature commented on #21
@noformnocontent Your voodoo worked. You're a genius.

[2018-01-25 11:01] shamis opened #55 "elm-install fails with error: "\xC2" on US-ASCII."
following is the stacktrace obtained when executing `elm-install --trace`
[code]

[2018-01-25 11:19] shamis commented on #55
Sorry, false alarm
Issue was solved by setting the locale to utf-8

[2018-01-25 11:19] #55 closed, assigned to nobody

[2018-01-25 13:16] rokf commented on #21
@noformnocontent Thank you!

[2018-02-06 19:53] gemantzu commented on #21
@dbulic Thank you, it works on Solus as well.

[2018-02-16 07:20] Hodkinson opened #56 "Error using protocol ssh://[user@]host.xz[:port]/path/to/repo.git/"
[code]

[2018-02-16 08:40] Hodkinson commented on #56
Some more detail: if using ssh string like `git@bitbucket.server.com:8999/elm/repo.git`, the port is ignored.

[2018-02-19 19:56] deepakchaula commented on #21
try this to install package...

sudo npm install --unsafe-perm=true --allow-root

[2018-02-28 14:24] playmobilman commented on #21
@deepakchaula Proven it's working!! Thanks!

[2018-03-02 23:04] dtonhofer commented on #21
@deepakchaula

Nah, now it's "`ELOOP: too many symbolic links encountered, open '/usr/lib/node_modules/npm/node_modules.bundled/tar/node_modules/minizlib/package.json.2876729455`'"
and rightly so because "`/usr/lib/node_modules/npm/`" is actually a symlink to itself...

(Why is installation a problem? It's been done since more than 20 years now. ☠☠☠!!)

[2018-03-08 13:00] eduardowickertg commented on #21
@noformnocontent Thank you dude!

btw, why everything with oracle is so complicated? :/

[2018-03-08 13:00] eduardowickertg commented on #21
@noformnocontent Thank you dude!

[2018-04-06 15:25] Flecks1 opened #58 "Problem when running elm-install for the first time without having access to the repo."
So I had to setup a new PC to work with my existing elm projects, and I had forgotten to copy my .ssh key for accessing my repo before running elm-install, resulting in elm-install failing when fetching packages from my private repo.

The issue is that, once this happens, elm-install will then always fail when trying to fetch that specific package, because it tries to access the '.git' folder in t

[2018-04-23 23:47] jameslaydigital commented on #21
Yup, had this problem on Debian.  Fixed like so:

    npm install elm
    mv -vi node_modules/* /usr/local/lib/node_modules/

Afterwards I was able to run `elm`.

[2018-05-04 04:25] melindangas commented on #21
@deepakchaula Thank you it worked!

[2018-05-11 18:12] wende opened #59 "Allow prerelease version tags"
`1.0.0` is reasonable for Elm
But to be consistent with npm semver style it's also advisable to be able to use `1.0.0-0`
It'd help us with testing [Elchemy](https://github.com/wende/elchemy) a lot

[2018-05-11 20:06] wende commented on #59
Diregard. Solved it with:

    "wende/elchemy-core": "0.0.1 < v <= 1.0.0"
    },
    "dependency-sources": {
        "wende/elchemy-core": {
            "url": "git@github.com:wende/elchemy-core.git",
            "ref": "0.7.0-2"
        }
    }
Closing. A lot of love from Elchemy team ❤️

[2018-05-11 20:06] #59 closed, assigned to nobody

[2018-06-04 10:13] TongDaDa commented on #21
@deepakchaula  why sudo npm install --unsafe-perm=true --allow-root ?

It does, however, there are no more questions

[2018-06-21 21:31] brendangibsondrip commented on #51
When you bump the version of a local package, you have to remove it from the cache before `elm-install`ing into the consumer.

i.e.

`rm -Rf ~/.elm-install`

[2018-07-12 08:19] opsb commented on #47
There is a pretty nasty hack you can use to get this working.

package.json
[code]

then to deal with the call to `elm-package install -y` add a blank file called `elm-package` to the start of your PATH var.

This does mean that elm-package isn't available for normal use but if you use `elm-install` everywhere then this shouldn't be an issue.

[2018-07-24 07:07] kane0409 commented on #21
if you install a package that you have the package name, you run 'sudo npm install package_name --unsafe-perm=true --allow-root'. If you don't know which package you missing, just run 'sudo npm install --unsafe-perm=true --allow-root' in your project folder that has node_modules.

[2018-07-31 06:57] rohithraX commented on #21
i got the same error for **sudo npm install -g web3**. But then
**npm i web3-js** worked fine.

[2018-08-09 09:15] dukemtambo opened #61 "problem installing gatsby"
Hi guys, please help me sort out this. I was running npm install --global gatsby-cli but it brough me this error.

Linux 4.15.0-29-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "--global" "gatsby-cli" "--unsafe-perm=true" "--allow-root"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! path /usr/local/lib/node_modules
npm ERR! code EACCES
npm ERR! errno -13
npm ERR! syscall acce

[2018-08-09 09:31] #61 closed, assigned to nobody

[2018-08-13 09:33] Ewebstech commented on #21
@deepakchaula. Works fine. Thanks

[2018-08-23 09:57] DerekMaffett commented on #53
I just had this same problem - how does your dependency sources look? I was having this when I used the string reference to the repo, but it seems to have gone away when I used the object format

[code]

I'm guessing something about the tags. For me, the error always occurred for a separate dependency but was actually triggered by the repo dependency.

Edit: Nevermind, it broke again. Honestly, it

[2018-08-24 14:19] Chilinot opened #62 "Support for elm 0.19"
Since Elm 0.19 is now released this should be updated to accommodate. It includes changes to the elm-package.json, one being it has been renamed to elm.json. It also seems to have some structural changes.

[2018-08-24 14:28] gdotdesign commented on #62
I will not be updating this repository anymore because 0.19 makes is much harder to install and use packages with native code.

It would require a lot of time to reverse engineer the new native and install logic, and personally I'm not interested in Elm any more.

If anyone is willing to tackle it, just let me know and I'll add them as a collaborator.

I'll be updating the readme to reflect this.

[2018-08-24 17:51] spookylukey commented on #62
I may be willing to tackle this, or to help.

If my initial inspection looks right, I don't think it can be that difficult. If packages in https://github.com/elm-lang/ and https://github.com/elm-explorations/ can do it, then everyone else ought to be able to. The only problem is that you have to put "elm-lang" or "elm-explorations" in the name field in your elm.json for the compiler to accept it.

[2018-08-24 18:24] SidneyNemzer commented on #62
Someone on the Elm slack pointed out the the new compiler checks for new versions when running `elm make`, so it might mean the compiler needs to be patched to allow non-published packages

We're using Firebase which heavily relies on its JavaScript library, and since rewriting that in Elm or using ports will take more time than we have, we'll be on 0.18 for the foreseeable future.

[2018-08-24 18:36] spookylukey commented on #62
@SidneyNemzer  If `elm make` does have that behaviour and it can't be turned off, it would be strange, because it would mean you need internet connectivity to compile your code, which sounds nasty to me.

However, if there is no other way, and especially if others would lend a hand, I would be interested in patching the compiler for these use cases. Elm is a huge asset to me, and kernel code is si

[2018-08-24 18:53] spookylukey commented on #62
@SidneyNemzer some quick checks - `elm make` downloads packages the first time, but after that doesn't require internet access to work, which implies that if elm-github-install can install stuff in the right way it is possible to get `elm make` to work without patching

However, the ~/elm/0.19.0 directory now has a lot more inscrutable binary files in them, which is unfortunate, and might require

[2018-08-24 19:06] SidneyNemzer commented on #62
Yeah, I'd expect the compiler skips checking for updates if there's no internet. But it will download new versions if it can. I wouldn't be surprised if the compiler trips up on packages that aren't published, but maybe it skips them.

[2018-08-24 19:10] norpan commented on #62
I've looked into the compiler source, and it will be very tricky to "fool" `elm make` into accepting foreign packages. It checks the package server, downloads a list of packages (`~/.elm/0.19.0/package/versions.dat`) and will reject any package not in that file. The file is overwritten each time it queries the package server.

I think the most straightforward way to get foreign packages working is

[2018-08-24 19:21] norpan commented on #62
And by the way, if we are patching the compiler, it's pretty easy to remove other restrictions, like access to effect modules/kernel code.

[2018-08-24 19:34] rtfeldman commented on #62
**EDIT 5 years later:** You can see in the edit history of this comment what I originally wrote here; I was upset and said unkind things that I regret, and which nobody deserved to hear. I apologized at the time and I still feel I should apologize again, unequivocally. I was in the wrong here.

I'm editing this because even 5 years later, people are still linking to this comment (just this week on

[2018-08-24 20:21] norpan commented on #62
While I don't quite agree with the strong words (I think it's very possible to see this as a way to try to make your own life easier, not as a way to try to undermine Elm) it makes sense to cool off for a few months and see what state Elm 0.19 will be in. We certainly don't want to alienate the core team.

Right now it works well for us to use 0.18 but as time goes by it will get harderbecause oth

[2018-08-24 20:36] rtfeldman commented on #62
@norpan I appreciate your perspective, but what you said is very different from what I quoted above. _("There is no reason 3rd party native/kernel code is going to go away either. There may be more hoops to jump through, that's all...")_

I completely understand the frustration of being blocked by things not having first-class support in Elm - I've been there myself, many times! Here's a recent ex

[2018-08-25 08:14] spookylukey commented on #62
@rtfeldman

I completely understand that these efforts will not be met with approval by the core team. I do not want to give a long reply here - because it would further derail this thread, which is attempting to do something positive, although you may find that hard to believe. I would like to continue by email, if possible, because I think we agree far more than we differ and I'm curious as to h

[2018-08-25 11:08] rtfeldman commented on #62
@spookylukey Sure, DM me on Slack and we can move the discussion to email.

[2018-08-26 03:54] renatomassaro commented on #62
It's great to know that there's a fix/remake being worked on. Is there any place I can follow its progress? There's no other branch in the repository, nor a personal fork from Evan.

[2018-08-26 11:55] rtfeldman commented on #62
@renatomassaro the problems are design challenges, not implementation ones. I suspect once the design gets worked out, implementation will be pretty quick!

[2018-09-04 16:13] bgourlie commented on #62
These kind of responses are extremely condescending considering Elm folks have been encouraging the use of Elm in production environments for years now. People have fought to use Elm at their place of employment only to have things broken in significant ways, and your response is, effectively: "How dare you not foresee future design goals. Stop complaining and write your own thing if you don't lik

[2018-09-07 12:23] rtfeldman commented on #62
Wow, I did not realize this was how I was coming across. I'm really sorry. I do not want to be a jerk, and I apologize.

Let me try to explain where I'm coming from in a more chill way.

### The Unavoidable Breakage

The format of Kernel code will unavoidably have serious breaking changes over time, and upgrading it will get increasingly difficult. Evan has already made several (necessarily breaki

[2018-09-07 12:36] Chilinot commented on #62
@rtfeldman

That was very well written, and feels like a good closure to this ticket.

[2018-09-07 12:36] #62 closed, assigned to nobody

[2018-09-07 15:20] bgourlie commented on #62
I think there's an important distinction that should be made here: People understand things will break. People don't expect undocumented APIs to be stable. That's not what people are upset about here. **People are upset about the fact that Elm essentially implemented package DRM.**

Steps were taken to *intentionally* break things (such as this very project) that attempted to solve real-world prob

[2018-09-29 03:09] miguelortega20 commented on #21
sd

[2018-10-04 05:10] rohitlabhe commented on #21
@deepakchaula  Thanks for command
 sudo npm install --unsafe-perm=true --allow-root
It is working fine for Ubuntu.

[2018-10-24 17:15] shov commented on #21
If you have no root access,
`HOME=./ npm i`

[2018-12-18 13:46] thesimpledev opened #63 "s"

[2018-12-18 15:14] #63 closed, assigned to nobody

[2019-01-12 17:22] mViniciusMarques opened #64 "r"

[2019-01-12 17:22] #64 closed, assigned to nobody

[2019-03-11 04:49] abhijeetj commented on #21
Use Sudo before tns and it is work for me

Example:
sudo tns create Tekmo --template tns-template-hello-world

if I have used sudo then not found error like to create postinstall.js
Error: EACCES: permission denied

[2019-03-12 08:38] spookylukey commented on #47
For anyone else having trouble with this, note that no released version of elm-test actually has the `--skip-installed` flag - it was added, but then removed again.

I found I was able to get my setup working as follows:

Install commit b671657b00cf2eae6771078a6133753caa15b17b of elm-test (i.e. https://github.com/rtfeldman/node-test-runner/pull/200/commits/b671657b00cf2eae6771078a6133753caa15b17b

[2019-03-25 03:30] darrencole commented on #21
Thank you @deepakchaula!

[2019-04-01 02:17] c-yyy commented on #21
sudo npm i -g elm-github-install
or
sudo yarn global add elm-github-install

[2019-04-09 11:34] freddy-daniel commented on #21
Still getting this issue on my mac
[code]

[2019-04-09 11:49] darrencole commented on #21
@freddy_daniel, try adding unsafe-perm=true --allow-root to the install command if you're sure that what you are installing is safe.

[2019-04-09 12:37] freddy-daniel commented on #21
I have fixed this issue by `sudo chmod -R 777`  on my project folder
And run` npm install --cache /tmp/empty-cache` without `sudo` now it's works fine

[2019-05-03 15:13] doonfrs commented on #21
Worked for me, Thank you!

[2019-06-24 19:47] polyrtm opened #65 "error: No such file or directory @ rb_sysopen - elm-stuff/exact-dependencies.json."
Whenever I try to run elm-install, I get that error. The gem installs fine.
Trace: ```
Resolving packages...
Solving dependencies...
Traceback (most recent call last):
        20: from /home/jackfly26/.gem/ruby/2.6.0/gems/commander-4.4.7/lib/commander/import.rb:5:in `block in <top (required)>'
        19: from /home/jackfly26/.gem/ruby/2.6.0/gems/commander-4.4.7/lib/commander/delegates.rb:15:in `r

[2019-06-24 21:13] SidneyNemzer commented on #65
I see the last line says:

`No such file or directory @ rb_sysopen - elm-stuff/exact-dependencies.json `

Maybe try running the elm compiler first to generate the `exact-dependencies.json` file.

(Side note: try using triple backticks instead of single backticks here -- that will preserve newlines and make it much easier to read this stacktrace!)

[2019-07-11 13:47] aliraza-dev commented on #21
@ghost's solution works for me, even whilst installing corvova-res globally. Thanks, Not all hero's wear capes.

[2019-07-25 23:08] TraceLD commented on #21
`sudo chown -R $USER ~/.npm` worked for me

[2019-08-06 03:42] MystesofEternity commented on #21
@deepakchaula You're a real life saver! Thank you!

[2019-09-12 22:45] alexpreiss opened #66 "elm-install not working with elm-mdl"
I've seen a very similar issue to this, where Aux.elm doesn't work. However that
issue was solved when you changed the file name to Helper.elm. I'm not sure why I'm still getting this error, I tried installing the latest version but it didn't work.

Heres the trace

λ elm-github-install --trace
Resolving packages...
  ▶ Getting updates for: debois/elm-mdl
C:/Users/code/AppData/Roaming/npm/node_mod

[2019-09-13 05:19] SidneyNemzer commented on #66
I've run into this error too, it's pretty annoying!

From the beginning of the trace, it looks like `git reset --hard` is being run, but it fails with the error `error: unable to create file src/Material/Aux.elm (No such file or directory)`. I assume you're running this on Windows, which doesn't allow files named `Aux` or something stupid like that. The thing is, that file is from an old version o

[2019-09-17 22:23] alexpreiss commented on #66
I was able to get this fixed! I had to manually clone a lot of the packages :/. Also, some packages had dependencies with a weird version, so I did have to add a few packages to the elm-package.json with specified versions. Super annoying but glad it works. Hope this can help some other people using a similar janky codebase ;).

[2019-09-17 22:23] #66 closed, assigned to nobody

[2019-11-04 17:05] rileyseaburg commented on #21
How does changing the owner of the directory make it work?
Is this an npm bug?

Solution worked for me but this is strange!

[2019-11-29 09:19] abinhho commented on #21
Add more param like that `--unsafe-perm=true --allow-root`
[code]

[2019-12-04 03:15] rishardcarranza commented on #21
This solution works well for me, thanks @deepakchaula  👍

[2019-12-30 18:52] vitorpiovezam commented on #21
To install globally, without need --unsafe-perm=true --allow-root in Elementary Os (ubuntu based) this work for me

[code]

Now you can install any package globally

``` npm i -g <package ```

[2019-12-30 18:52] vitorpiovezam commented on #21
To install globally, without need --unsafe-perm=true --allow-root in Elementary Os (ubuntu based) this work for me

[code]

Now you can install any package globally

``` npm i -g <package-name> ```

[2020-03-16 13:29] anupsalpe commented on #21
I have deleted the 'node_modules/' folder and install npm package again. `npm install`
And it worked :)

[2020-04-12 00:50] JacoJeco commented on #21
It works ! thnx !

[2020-04-13 18:35] kulketan commented on #21
Thanks.. It worked for me on Ubuntu 19.10.